{% extends 'RentMovieBundle::layout.html.twig'%}

{% block links %}
   <li><a href="{{path('rent_movie_main')}}">Home</a></li>
  <li><a href="{{path('rent_movie_romanceGenre')}}">Romance</a></li>
  <li class="active"><a href="{{path('rent_movie_historyGenre')}}">History</a></li>
  <li><a href="{{path('rent_movie_dramaGenre')}}">Drama</a></li>
  <li><a href="{{path('rent_movie_horrorGenre')}}">Horror</a></li>
  <li><a href="{{path('rent_movie_thrillerGenre')}}">Thriller</a></li>
  <li><a href="{{path('rent_movie_adventureGenre')}}">Adventure</a></li>
  <li><a href="{{path('rent_movie_cartoonGenre')}}">Cartoons</a></li>
 {% endblock %} 
 
 
  
  {% block title %}   
  <a href="{{path('rent_movie_boleyn')}}"><font color="#FF1493">The Other Boleyn Girl</font></a> 
  {% endblock %}
  
  {% block year %}   
      2008
  {% endblock %}
  
  {% block description %}  
        Two sisters contend for the affection of King Henry VIII.
  {% endblock %}
  
  {% block image %}   
  <a href="{{path('rent_movie_boleyn')}}"><img class="img-responsive img-rounded" src="{{ asset('bundles/rentmovie/images/boleyn.jpg') }}" alt=""></a>
  {% endblock %} 
  
     
 